[user]
name = Jonathan Schear
email = jschear@jschear.dev
signingkey = 0F4D841667534076

[commit]
gpgsign = true

[push]
default = current
autoSetupRemote = true

[alias]
uncommit = reset --soft HEAD^
s = status --short --branch
st = status
co = checkout
new = checkout -b
kick = commit -m "Kick" --allow-empty
recent = !git branch --sort=-committerdate | fzf +s | xargs git checkout

[help]
autocorrect = 10

[color]
branch = auto
diff = auto
status = always
ui = true

[pull]
rebase = true

[rebase]
autoStash = true

[init]
defaultBranch = main

[merge]
conflictstyle = diff3

[credential]
helper = osxkeychain
